BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
